# Terraform generated directories
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable definition files (if sensitive data is present)
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# Sensitive data files
*.pem
*.key
*.pub
